.contenedor {
  position: relative;
  height: 100vh;
}
.contVideo {
  position: fixed;
  width: 100%;
  height: 100%;
  margin-top: -21px;
  margin-left: -10px;
  z-index: -1;
  object-fit: cover;
}

.contVideo video {
  position: relative;
  top: 50%;
  left: 50%;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
}
